# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS stuff
.DS_Store

# CLion stuff
.idea/

# Pyenv stuff
.python-version

# build folders
build/
cmake-build-debug/

# binary of the model
bin/

# simulation results
simulation_results/

# Visualization stuff
visualization/.ipynb_checkpoints
visualization/output_messages*.txt
visualization/res/
